*.json
Resources/Private
*.4DD
.gitattributes
*.sublime*
*userPreferences.*/
*Project/DerivedData/
*Trash/
*CompiledCode/
*Libraries/


# Ignore everywhere.
__MACOSX
*Match

*CompiledCode

*Libraries
