#Inspired by Tom Benedict's .gitignore


# Ignore all at the root.
/*


# Except:
!.gitignore
!Resources
!Project
!Documentation
!README.md
!README/


#Also ignore
Project/DerivedData
Resources/Cache
Resources/Private
*.sublime*
userPreferences.*/
Project/Sources/Classes/Private
Project/Sources/Methods/Private
Project/Trash


# Ignore everywhere.
__MACOSX